.user {
    display: flex;
    gap: 13px;
    align-items: center;
    /* cursor: pointer; */
    padding: 10px;
    width: 100%;
    margin-left: -10px;
}

.user img {
    width: 60px;
}

.user p {
    font-size: 20px;
    line-height: 130%;
}