.sidebar {
    display: flex;
    flex-direction: column;
    gap: 81px;
    padding-top: 21px;
    padding-left: 66px;
    /* width: 80%; */
    width: 335px;
    height: 100vh;
    background-color: #99AF99;
}

.sidebar__user {
    display: flex;
    gap: 13px;
    align-items: center;
}

.sidebar__pages {
    display: flex;
    flex-direction: column;
    gap: 9px;
    /* width: 100%; */
}

.sidebar__pages a {
    font-size: 150%;
    text-decoration: none;
    color: #000;
    /* width: 13%; */
}

.sidebar__pages a:hover {
    text-decoration: underline;
}