.deletePopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.371);
    overflow: hidden;
    overflow-y: auto;
    transition: opacity 0.3s;
    z-index: 999;
}

.deletePopup__wrapper {
    position: absolute;
    top: 0;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
}

.deletePopup__content {
    position: relative;
    margin: 20px;
    width: 275px;
    max-width: 375px;
    /* height: 403px; */
    height: 100%;
    border-radius: 20px;
    background-color: #fff;
    padding: 40px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.deletePopup__content_close {
    position: absolute;
    top: 20px; 
    right: 20px;
    border: none;
    background: none;
    width: 20px;
    cursor: pointer;
}

.deletePopup__content img {
    width: 15px;
}

.deletePopup__notice p {
    text-align: center;
}

.deletePopup__buttons {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 30px;
}

.deletePopup__buttons button {
    border-radius: 36px;
    padding: 15px 20px;
    border: none;
    background-color: #D3E9D3;
    font-size: 16px;
}

.deletePopup__buttons button:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0 1px #99AF99;
}